@using Microsoft.Extensions.Logging
@using VisitsApp.Core.Models
@using VisitsApp.Core.Services


@inject ILogger<DiscountCategoryService> Logger;
@inject DiscountCategoryService service

@if (IsVisible)
{
    <!-- Фон модального окна -->
    <div class="modal-backdrop fade show"></div>

    <!-- Само модальное окно -->
    <div class="modal show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content shadow">
                <div class="modal-header">
                    <h5 class="modal-title">Создание новой категории скидки</h5>
                    <button type="button" class="btn-close" @onclick="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Название</label>
                        <input class="form-control" @bind="name" placeholder="Введите название..." @onkeyup="HandleKeyUp" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Скидка</label>
                        <input class="form-control" @bind="discount" placeholder="Введите целое число процентов" @onkeyup="HandleKeyUp" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="Close">Отмена</button>
                    <button type="button" class="btn btn-primary" @onclick="Save" disabled="@string.IsNullOrWhiteSpace(name)">
                        Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@code {

    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }
    [Parameter] public EventCallback OnSaved { get; set; }

    private string name = string.Empty;
    private double discount = 0d;

    private async Task Save()
    {
        if (discount <= 0)
        {
            return;
        }

        try
        {
            if (!string.IsNullOrWhiteSpace(name))
            {
                await service.Add(name, discount);
                name = string.Empty;
                discount = 0;
                await OnSaved.InvokeAsync(); // Уведомляем родительский контрол, что данные сохранены
                await Close();
            }
        }
        catch (Exception ex)
        {
            Logger.LogError($"{ex.Message}. {ex.InnerException.Message}");
        }

    }

    private async Task Close()
    {
        await OnClose.InvokeAsync();
    }

    private async Task HandleKeyUp(KeyboardEventArgs e)
    {
        if (string.IsNullOrWhiteSpace(name) || discount == 0)
        {
            return;
        }

        if (e.Key == "Enter")
        {
            await Save();
        }
    }
}
