@page "/add-discount-category"

@using VisitsApp.Core.Services

@inject DiscountCategoryService service;

<div class="container">
    <h3>Создание нового типа скидки</h3>

    <div class="card p-3">
        <div class="mb-3">
            <label class="form-label">Название скидки</label>
            <input class="form-control" @bind="name"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Скидка</label>
            <input class="form-control" @bind="discount" placeholder="Введите целое число процентов"/>
        </div>

        <button class="btn btn-primary w-100" @onclick="Save">Сохранить</button>
    </div>
</div>

@code 
{
    private string name;
    private double discount = 0;

    private async Task Save()
    {
        if (string.IsNullOrWhiteSpace(name) || discount <= 0)
        {
            return;
        }

        await service.Add(name, discount);
    }

}
