@page "/managment"

<div class="container">
    <h3>Управление</h3>
    <div class="d-flex">
        <button class="btn btn-primary">Ученики</button>
        <button class="btn btn-primary">Группы</button>
        <button class="btn btn-primary">Скидки</button>
        <button class="btn btn-primary">Расписания</button>
        <button class="btn btn-primary">Посещения</button>
    </div>
</div>

@code {

}
