@page "/schedules"
@using Microsoft.Extensions.Logging
@using VisitsApp.Core.Models
@using VisitsApp.Core.Services


@inject ILogger<ScheduleService> Logger;
@inject NavigationManager NavManager
@inject ScheduleService service;

<div class="container d-inline-flex justify-content-md-start">
    <div class="d-flex align-items-center border-bottom pb-2">
        <h3>Расписания</h3>
        <button class="btn btn-primary" @onclick="CreateSchedule">
            <span class="bi bi-plus-square"></span> Добавить расписание
        </button>
    </div>
</div>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Название</th>
                <th>Кол-во дней</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var schedule in schedules)
            {
                <tr>
                    <td>@schedule.ScheduleName</td>
                    <td>@schedule.Days.Count</td>
                    <td class="text-center">
                        <div class="btn-group btn-group-sm" role="group">
                            <button class="btn btn-primary"
                                    title="Редактировать"
                                    @onclick="()=>UpdateSchedule(schedule.Id)">
                                <span class="bi bi-pencil" aria-hidden="true">Ред.</span>
                            </button>
                            <button class="btn btn-danger"
                                    title="Удалить"
                                    @onclick="() => Delete(schedule.Id)">
                                <span class="bi bi-trash" aria-hidden="true">Уд.</span>
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code 
{
    private List<Schedule> schedules = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            schedules = await service.GetAllSchedules();
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private void CreateSchedule()
    {
        NavManager.NavigateTo("/add-schedule");
    }

    private async void Delete(int scheduleId)
    {
        try
        {
            await service.DeleteSchedule(scheduleId);
        }
        catch (Exception ex)
        {
            Logger.LogError($"{ex.Message}. Inner Exception: {ex.InnerException?.Message}");
        }
    }

    private void UpdateSchedule(int id)
    {
        NavManager.NavigateTo($"/add-schedule/{id}");
    }
}
